<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/fav.png">
  <!-- Author Meta -->
  <meta name="author" content="CodePixar">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
      <div class ="container">
       
        <button onclick="window.history.back()">Back</button>
        <p>View PDF Report <a href="/Rplots.pdf">example</a>.</p>
        <iframe src="/Rplots.pdf" width="800px" height="800px" > </iframe>
      </div>
   
 </head>
</html>