<div>
    <div>
        <form action="/commits" method="GET"> 
            <button>Commits</button> 
          </form> 
          <form action="/addition" method="GET"> 
            <button>Addition</button> 
          </form> 
          <form action="/deletion" method="GET"> 
            <button>Deletion </button> 
          </form> 
    </div>
</div>